/*
/*/

!.gitattributes
!.gitignore
!.gitmodules
!*.json
!*.bat
!*.vssettings

!/Assets/
!/ProjectSettings/

/Assets/Meshes/Environment/Water/
!/Assets/Meshes/Environment/Water/Water.txt
!/Assets/Meshes/Environment/Water/Water.txt.meta