/*
/*/

!.gitattributes
!.gitignore
!.gitmodules
!*.json
!*.bat
!*.vssettings

!README.md
!packages.config
!app.config

!/Assets/
!/ProjectSettings/

!/docfx_project/
!/docs/

!.editorconfig
!Jenkinsfile

/Assets/Meshes/Environment/Water/
!/Assets/Meshes/Environment/Water/Water.txt
!/Assets/Meshes/Environment/Water/Water.txt.meta